.service-container {
    box-shadow: 5px 5px 10px #aaaaaa;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    height: 150px;
}

.service-img {
    height: 40px;
    width: 50px;
}