.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.items-title {
    color: rgb(59, 57, 57);
    font-weight: 700;
}

@media only screen and (max-width:576px) {
    .items-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .items-container {
        grid-template-columns: repeat(2, 1fr);
    }
}