.item-container {
    box-shadow: 5px 5px 10px #aaaaaa;
    padding: 10px;
}

.item-img {
    height: 140px;
    width: 200px;
}

.item-name {
    color: rgb(59, 57, 57);
    font-weight: 700;
}

.item-price {
    color: orange;
}